@{
    ViewBag.Title = "White Label Development Ltd. :: Neil Thompson :: Freelance .NET ASP.NET WinForm MVC C# Developer :: Cornwall :: UK";
}
@section View_HeadSection
{
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="White Label Development Ltd" />
    <meta name="description" content="Freelance Software Development based in Cornwall, UK : Website, Apps and Web Services" />


    @Html.CssLink("masonry.css")
    @Html.CssLink("Homepage.css")
    @Html.CssLink("homepage-media-queries.css")
}

<div class="page">
    <div class="content">
        <div id="container">
            <a id="top"></a>

                <!--
                    Semantics:
                    badge
                    software-quote
                    text
                    box
                    mobile-column (defines the box width)
                -->

<!--
    <a href="http://www.example.com" itemprop="url">http://pizza.example.com</a>.
-->

            <!-- WLD-->
            <div class="box mobile-column" itemscope itemtype="http://data-vocabulary.org/Organization" >
                <div class="poster-board">
                    <div class="badge">
                        @Html.Image("WLD-Logo-shadow.jpg", "White Label Development logo")
                    </div>
                    <div class="text">
                        <h2 itemprop="name">White Label Development Ltd.</h2>

                        <div>
                            <div class="question">
                                Does your business need a website, webservice or desktop application?
                            </div>
                            <div class="answer">I provide software design, build &amp; support services.</div>
                        </div>

                        <div>
                            <div class="question">
                                Perhaps you have a new project but don't want the risk of hiring
                                new permanent staff?
                            </div>
                            <div class="answer">I can help you with that.</div>
                        </div>

                        <div>
                            <div class="question">
                                Do you have so much work that your team is getting behind?
                            </div>
                            <div class="answer">Let me help you meet your deadlines.</div>
                        </div>

                        
                        <ul id="i-can-list">
                            <li>I can assemble and manage a team for larger projects</li>
                            <li>I can commit to deliver quality code</li>
                            <li>I can fit in with your existing team &amp; practises.</li>                            
                            <li>I can work how you want me to work</li>
                        </ul>

                        <p>My mission is to add value to your company by writing great code.</p>
                    </div>
                </div>
            </div>

            <!-- Neil Thompson -->
            <div class="box mobile-column" itemscope itemtype="http://data-vocabulary.org/Person">
                <div class="badge" itemprop="photo">
                    @Html.Image("neil-thompson.jpg", "Neil Thompson photo")
                </div>
                <div class="text" id="neil-thompson">
                    <h2 itemprop="name">Neil Thompson</h2>

                    <p>I'm an experienced, reliable and honest <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="country-name">UK</span></span> based <span itemprop="role">software developer</span>.</p>

                    <p>I mostly work within the Microsoft product stack, namely:</p>
                    <ul>
                        <li>ASP.NET &amp; ASP.NET MVC</li>
                        <li>WCF, XML, REST, Web Services</li>
                        <li>SQL Server, Entity Framework</li>
                        <li>Microsoft Windows Server</li>
                        <li>Cloud Computing (Azure, Amazon)</li>
                    </ul>

                    <p>
                        I am a developer and architect. I'm not a graphic designer. 
                            I can create small micro sites and build large enterprise applications. 
                            I loosely follow an Agile philosophy, with a focus on practical Agile techniques
                        such as:
                    </p>
                    <ul>
                        <li>TDD (Test Driven Development)</li>
                        <li>BDD (Behaviour Driven Development)</li>
                        <li>SOLID principles &amp; 'Software Craftsmanship'</li>
                    </ul>

                    <p>
                        I consider client contact key to the success of the project, especially for remote work.
                        Cycles of presentation and feedback can catch potential misunderstandings early; This also helps
                        minimize costs and provides opportunities for tweaks, testing, improvements and change.
                    </p>

                    <p>
                        I write software that achieves your business objective and helps make you money.
                        I'm good at this. And I like it.
                    </p>

                    <ul>
                        
                        <li>
                            <div>
                                <a href="skype:neil.james.thompson?chat">
                                    <img style="vertical-align: middle" alt="Skype: " src="Images/skype_icon.png" />Neil
                                    Thompson</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                @Html.Image("linkedin_logo_icon.jpg", "Neil Thompson LinkedIn logo")<a href="http://www.linkedin.com/pub/neil-thompson/5/a58/743">LinkedIn
                                    Profile</a>
                            </div>
                        </li>
                        <li>
                            <div  itemscope itemtype="http://data-vocabulary.org/Organization">
                                @Html.Image("phone-icon.png", "phone")
                                <span itemprop="tel">01736 850032</span>
                            </div>
                        </li>

                        <li>
                            <div>
                                @Html.Image("email-icon.png", "email")
                                <script type="text/javascript">
                                    /* http://rumkin.com/tools/mailto_encoder/simple.php */
                                    ML = "ire>unlkc-f<@@wa=t/.vd mop\"h:b";
                                    MI = ";>EJ12:?IF>06@GK5206<=J0@296>L269D2C26GHF25@B8GB47I35206<=J0@296>L269D2C26GHF25@B8GB47;A>3";
                                    OT = "";
                                    for (j = 0; j < MI.length; j++) {
                                        OT += ML.charAt(MI.charCodeAt(j) - 48);
                                    } document.write(OT);
                                </script>

                            </div>
                        </li>
                    </ul>

                    <p>
                        Working software that matters.
                    </p>
                </div>
            </div>

            <!-- every business is a software business -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        Today &quot;every business is a software business&quot;. 
                            Software development requires specialist skills and knowledge. 
                            Training your own permanent staff can take a long time and is often expensive
                        - which is why an increasing number of companies are outsourcing some of their
                            work to reliable external suppliers.
                    </p>
                </div>
            </div>

            <!-- cv -->
            <div class="box mobile-column">
                <div class="badge">
                    <a href="@Url.Action("Index", "CurriculumVitae")">@Html.Image("cv_icon.png", "Neil Thompson Curriculum Vitae")</a>
                </div>
                <div>
                    <div style="float:right;">
                        <a href="@Url.Action("CurriculumVitae","Document")"> @Html.Image("pdf_file.png", "Curriculum Vitae PDF")</a>
                    </div>
                    <div class="text cv">                         
                       @Html.ActionLink("Neil Thompson - Curriculum Vitae", "Index", "CurriculumVitae")
                    </div>
                </div>
            </div>


            <!-- Skype -->
            <div class="box mobile-column">
                <div class="badge skype">
                    <a href="skype:neil.james.thompson?chat">
                        <img src="http://mystatus.skype.com/smallclassic/neil%2Ejames.thompson" style="border: none;"
                            width="114" height="20" alt="Neil Thompson Skype : status" /></a>
                </div>
            </div>


            <!-- asp.net -->
            <div class="box mobile-column">
                <div class="poster-board">
                    <div class="badge">
                        @Html.Image("aspnet.jpg", "ASP.NET logo")
                    </div>
                </div>
            </div>

            <!-- asp.net mvc -->
            <div class="box mobile-column">
                <div class="poster-board">
                    <div class="badge">
                        @Html.Image("asp-net-mvc-31.gif", "ASP.NET MVC logo")
                    </div>
                </div>
            </div>


            <!-- the inability to cope with change -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        &quot;...the problem [with software projects] isn't change, per se, because change
                        is
                        going to happen; the problem, rather, is the inability to cope with change when
                        it comes.&quot;
                        Kent Beck
                    </p>
                </div>
            </div>



            <!--  we rarely have meaningful requirements -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        &quot;In software, we rarely have meaningful requirements.  Even if we do, the only
                        measure
                        of success that matters is whether our solution solves the customer’s shifting
                    idea
                        of what their problem is.&quot; Jeff Atwood
                    </p>
                </div>
            </div>


            <!-- Azure -->
            <div class="box mobile-column">
                <div class="badge">
                    @Html.Image("Azure_logo12.jpg", "Windows Azure logo")
                </div>
            </div>

            <!-- Twitter special class pls-->
            <div class="box mobile-column" style="height: 450px">
                <div class="poster-board">
                    <!--div class="badge">
                            <img src="Images/536-twitter-logo.jpg" />
                        </div>-->

                    <div class="text">
                        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                        <script>

                            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                            var twitterWidgetWidth = 250;
                            if (width < 1025) {
                                twitterWidgetWidth = 200;                                
                            }

                            var neilTwitterFavs = new TWTR.Widget({
                                version: 2,
                                type: 'faves',
                                rpp: 5,
                                interval: 10000,
                                title: '',
                                subject: '@@neil__thompson',
                                width: twitterWidgetWidth,
                                height: 300,
                                theme: {
                                    shell: {
                                        background: '#c7c3c3',
                                        color: '#000000'
                                    },
                                    tweets: {
                                        background: '#f2f0f0',
                                        color: '#000000',
                                        links: '#a88a8a'
                                    }
                                },
                                features: {
                                    scrollbar: true,
                                    loop: false,
                                    live: true,
                                    avatars: false,
                                    behavior: 'default'
                                }
                            });
                                                        
                            neilTwitterFavs.render().setUser('neil__thompson').start();
                           
                        </script>
                    </div>
                </div>
            </div>

            <!-- LinkedIn -->
            <div class="box mobile-column">
                <div class="poster-board">
                    <div class="badge">
                        <a href="http://www.linkedin.com/pub/neil-thompson/5/a58/743">
                            @Html.Image("linkedin_logo.jpg", "LinkedIn logo")</a>
                    </div>
                </div>
            </div>


            <!-- Amazon -->
            <div class="box mobile-column">
                <div class="poster-board">
                    <div class="badge">
                        @Html.Image("AmazonCloudComputingLogo_616.jpg", "Amazon Cloud Computing logo")
                    </div>
                </div>
            </div>


            <!-- Controlling Complexity -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        &quot;Controlling complexity is the essence of computer programming.&quot; Brian
                        Kernigan.
                    </p>
                </div>
            </div>

            <!-- Github -->
            <div class="box mobile-column">
                <div class="badge">
                    <a href="https://github.com/white-label-development">
                        @Html.Image("github.jpg", "Github logo")</a>
                </div>
            </div>


            <!-- stack overflow flair -->
            <div class="box mobile-column">
                <div class="badge">
                    <div id="stackOverflow">
                        <a href="http://stackoverflow.com/users/932833/neil-thompson">
                            <img src="http://stackexchange.com/users/flair/895437.png" width="208" height="58"
                                alt="profile for Neil Thompson on Stack Exchange, a network of free, community-driven Q&amp;A sites"
                                title="profile for Neil Thompson on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a>
                    </div>
                </div>
            </div>

            <!-- Lousy programmers -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        &quot;That’s the thing about people who think they hate computers.  What they really
                        hate is lousy programmers.&quot; Larry Niven
                    </p>
                </div>
            </div>

            <!-- Wordpress blog -->
            <div class="box mobile-column">
                <div class="badge">
                    <a href="http://interwebneil.wordpress.com/">
                        @Html.Image("wordpress.png", "Wordpress Blog logo")</a>
                </div>
                <div class="text centered">My blog <a href="http://interwebneil.wordpress.com/">'The Fool on The Hill'</a></div>
            </div>


            <!-- Boolean Joke -->
            <div class="box mobile-column">
                <div class="software-quote">
                    <p>
                        &quot;The best thing about a boolean is even if you are wrong, you are only off by a bit.&quot; Anonymous
                    </p>
                </div>
            </div>

            <!-- Microsoft WebSpark Network Partner -->
            <div class="box mobile-column">
                <div class="badge">
                    
                        @Html.Image("webspark-partner.jpg", "Microsoft WebSpark Network Partner")</a>
                </div>
                <div class="text centered">Proud to be a WebsiteSpark Network Partner</div>
            </div>

            <!-- g+ -->
            <div class="box mobile-column">
                <p>
                    <a rel="author" href="https://plus.google.com/u/1/100621744992130689387/#100621744992130689387/about">g+</a>
                </p>
            </div>

            <!-- back to the top -->
            <div class="box mobile-column">
                <p>
                    <a href="#top">Back to the top...</a>
                </p>
            </div>


            

        </div>
        <!-- /container -->
    </div>
    <!-- /content -->
</div>
<!-- /page -->



@section View_FootSection
{
    @Html.JavascriptLink("jquery-1.6.2.min.js")
    @Html.JavascriptLink("jquery.masonry.min.js")
    @Html.JavascriptLink("jquery.imagesloaded.min.js")
    <!--  scripts -->
    <script>
        var $container = $('#container');
        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.box',
                isFitWidth: true,
                isAnimated: true
            });
        });
    </script>
}
